/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Utils */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.col{
    float: left;
}

.container-80{
    margin: 0 auto;
    width: 80%;
}

.container-70{
    margin: 0 auto;
    width: 70%;
}

.wh-60{
    width: 60%;
}

.wh-50{
    width: 50%;
}

.wh-40{
    width: 40%;
}

.wh-33{
    width: calc(100% / 3);
}

.ta-r{
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: 10px 20px;
}

.btn-blue{
    color: white;
    background-color: rgb(0, 89, 255);
    transition: background-color .25s;
}

.btn-blue:hover{
    background-color: rgb(47, 120, 255);
}
/* Header */

    /* Main nav */

    .main-header .main-nav{
        height: 70px;
        margin: 0 20px;
    }

    .main-header .main-nav *{
        display: inline-block;
    }
    
    .main-header .main-nav img{
        vertical-align: middle;
        margin-right: 10px;
    }
    
    .main-header .main-nav ul li{
        line-height: 70px;
        margin: 0 20px;
    }

    .main-header .main-nav ul li a{
        font-weight: 600;
    }

    .main-header .main-nav ul li a:hover{
        text-decoration: underline;
    }

    .main-header .main-nav .btn.btn-blue{
        margin-left: 10px;
    }

    /* Main nav end */

    /* Spotlight */

    .spotlight{
        background-color: rgb(169, 212, 252);
        height: 850px;
        padding: 100px 0;
    }

    .spotlight h1{
        font-size: 85px;
        font-weight: 900;
        margin-bottom: 50px;
    }

    .spotlight .wh-40 p, .spotlight .wh-40 a{
        font-size: 22px;
    }
    .spotlight p, .spotlight .wh-40 div{
        font-weight: 600;
    }

    .spotlight p{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .spotlight .wh-40 div{
        margin-top: 20px;
    }

    .spotlight .wh-40 .fa-arrow-down{
        font-size: 50px;
        margin-top: 50px;
    }

    .spotlight .wh-60 img{
        width: 100%;
        position: relative;
        top: 20px;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
    }

    /* Spotlight end */