/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Utils */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.col{
    float: left;
}

.container-80{
    margin: 0 auto;
    width: 80%;
}

.container-70{
    margin: 0 auto;
    width: 70%;
}

.wh-60{
    width: 60%;
}

.wh-50{
    width: 50%;
}

.wh-40{
    width: 40%;
}

.wh-33{
    width: calc(100% / 3);
}

.ta-r{
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    padding: 10px 20px;
}

.btn-big{
    padding: 10px 50px;
}

.btn-blue{
    color: white;
    background-color: rgb(0, 89, 255);
    transition: background-color .25s;
}

.btn-blue:hover{
    background-color: rgb(47, 120, 255);
}

.btn-white{
    color: black;
    border: 1px solid black;
    font-weight: 600;
    transition: background-color .25s;
}

.btn-white:hover{
    color: white;
    background-color: black;
}

.btn-full{
    text-align: center;
    width: 80%;
}
/* Header */

    /* Main nav */

    .main-header .main-nav{
        height: 70px;
        margin: 0 20px;
    }

    .main-header .main-nav *{
        display: inline-block;
    }
    
    .main-header .main-nav img{
        vertical-align: middle;
        margin-right: 10px;
    }
    
    .main-header .main-nav ul li{
        line-height: 70px;
        margin: 0 20px;
    }

    .main-header .main-nav ul li a{
        font-weight: 600;
    }

    .main-header .main-nav ul li a:hover{
        text-decoration: underline;
    }

    .main-header .main-nav .btn.btn-blue{
        margin-left: 10px;
    }

    /* Main nav end */

    /* Spotlight */

    .spotlight{
        background-color: rgb(169, 212, 252);
        height: 850px;
        padding: 100px 0;
    }

    .spotlight h1{
        font-size: 85px;
        font-weight: 900;
        margin-bottom: 50px;
    }

    .spotlight .wh-40 p, .spotlight .wh-40 a{
        font-size: 22px;
    }
    .spotlight p, .spotlight .wh-40 div{
        font-weight: 600;
    }

    .spotlight p{
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .spotlight .wh-40 div{
        margin-top: 20px;
    }

    .spotlight .wh-40 .fa-arrow-down{
        font-size: 50px;
        margin-top: 50px;
    }

    .spotlight .wh-60 img{
        width: 100%;
        position: relative;
        top: 20px;
        filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
    }

    /* Spotlight end */

/* Header end */

/* Main */

main{
    padding-top: 220px;
}

    /* Business plan */
    #business-plan h2{
        font-size: 50px;
        margin-bottom: 50px;
    }

    #business-plan span, #monthly, #annual{
        display: inline-block;
    }

    #business-plan span{
        line-height: 20px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    #monthly, #annual{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
    }
    
    #monthly{
        border: 5px solid rgb(0, 89, 255);
    }

    #annual{
        border: 1px solid lightgray;
    }

    #business-plan .clearfix{
        margin-bottom: 30px;
    }

        /* Business plan columns */

      .bp-type{
          width: 90%;
          position: relative;
      }

      .bp-type .header-bp{
          padding: 10px 0;
          text-align: center;
          border: 1px solid lightgray;
        }
        
        .bp-type .main-bp{
            height: 900px;
            border: 1px solid lightgray;
            border-top: none;
            padding: 0 20px;
        }
        
      .bp-type h3{
          padding-top: 20px;
          font-size: 30px;
      }

      .bp-type .price{
          font-weight: bold;
          margin: 10px 0;
      }

      .bp-type .payment-type{
          color: gray;
          margin: 10px 0;
          margin-bottom: 30px;
      }

      .bp-type .info-bp{
          margin: 25px 0;
      }

      .bp-type .info-bp .icon-left, .bp-type .info-bp .info-bp-text{
          float: left;
      }

      .bp-type .info-bp .icon-left{
          width: 16px;
      }

       .bp-type .info-bp .info-bp-text{
          width: 95%;
          padding-left: 3px;
      }

      .bp-type .info-bp:last-child{
          margin-bottom: 100px;
      }

      .bp-type .btn{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
      }

      .bp-type .buy-now{
          margin-top: 80px;
      }

      .bp-type .buy-now a{
          color: blue;
          text-decoration: underline;
      }

      .bp-type hr{
          color: transparent;
          border-top: 1px solid lightgray;
          width: 20%;
          margin-bottom: 50px;
      }

      .bp-type ul{
          list-style-type: none;
      }

      .bp-type ul li::before{
          content: "\2714";
          color: rgb(0, 89, 255);
      }

      .bp-type ul > *{
          margin: 20px 0;
      }

      /* Business plan columns end */

      .enterprise{
          margin-top: 70px;
          margin-bottom: 100px;
      }

      .enterprise .bp-type{
          width: 96.7%;
      }

      .enterprise .bp-type .main-bp{
          height: max-content;
      }

      .enterprise .bp-type .main-bp .clearfix{
          padding-top: 30px;
      }
    
      .enterprise .bp-type h3{
          padding-top: 0;
          line-height: 30px;
      }

      .enterprise .bp-type .btn-big{
          position: static;
          line-height: 30px;
      }

      .enterprise .bp-type h4{
          font-size: 18px;
      }

      .enterprise .bp-type p{
          margin-top: 40px;
          margin-bottom: 30px;
      }

    /* Business plan end */

    /* Find partner section */

    #find-partner .col img{
        width: 100%;
    }

    #find-partner .col:last-child{
        padding: 0 40px;
        padding-top: 30px;
    }

    #find-partner .col:last-child h2{
        font-size: 32px;
        margin-bottom: 30px;
    }

    #find-partner .col:last-child p{
        font-size: 20px;
        margin-bottom: 40px;
    }